html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#base-ui {
    display: none;
}


#root {
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    pointer-events: none;
    
    display:none;
}


#canvas {

    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: -1;
}


#app-ui {
    position: relative;
    z-index: 10;
    pointer-events: none;
    height: 0;

}

#elevator {
    position: relative;
    top: 400px;
    left: 350px;
    display: none;
    pointer-events: all
}