
@font-face {
    font-family: 'Spline Sanse';
    
    src: url('./fonts/SplineSans.ttf'),
       
}



html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


html * {

    font-family: "Spline Sanse" !important;
}

#base-ui {
    display: none;
}


#root {
    position: absolute;
    z-index: 10;
    top: 2.5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
    background-color: aqua;
    pointer-events: all;
    
    display:none;
}


#canvas {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: -1;
}


#app-ui {
    position: relative;
    z-index: 10;
    pointer-events: none;
    height: 0;

}

#elevator {
    position: relative;
    top: 400px;
    left: 350px;
    display: none;
    pointer-events: all
}