.widgets {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: azure; */

}

.widgetRow1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.todoListWidget {
    width: 60%;
    background-color: #282C33;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.todoListWidgetHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.todoListWidgetHeader img {
    width: 2rem;
    height: 2rem;
}


.todoListWidget h2 {
    margin: 0;
    padding: 1rem 2rem;
    color: white;
    user-select: none;
}


.todoListWidgetBody {
    display: flex;
    justify-content: space-between;
}

.todoListWidget ul {
    display: flex;
    flex-direction: column;
}

.todoWidgetLabelDone {
    text-decoration: line-through;
    color: gray;
}

.todoWidgetAddButton {
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    font-weight: bolder;
    color: white;
    background-color: #01628f;
    border-radius: 5rem;
    border: none;
    margin: 0 1rem 1rem 0;
    user-select: none;
}


.clockWidget {
    width: 15rem;
    height: 15rem;
    color: red;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    user-select: none;
    padding: 1rem;

}

#clockWidgetText {
    color: white;
    font-size: 4.5rem;
    font-family: "Kanit" !important;


}

.widgetRow2 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.specialDayWidget {
    width: 15rem;
    height: 15rem;
    background-color: #01628f;
    /* background-color: rgb(10, 126, 220); */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    user-select: none;
    
}


.specialDayWidget h1 {
    color: white;
    padding-left: 1rem;

}

.specialDayWidget span {
    /* color: rgb(6, 49, 136) */
    color: #03274D;
    padding-right: .5rem;
}


.contactWidget {
    height: 15rem;
    box-sizing: border-box;
    max-width: 80%;
    min-width: 60%;
    background-color: #282C33;
    color: white;
    border-radius: 1rem;
    display: flex;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 1rem;
}

.contactWidget img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 2rem;
}

.contactWidget h1 {
    font-size: 2.5rem;
}


.contactWidget a {
    color: white;
}

.contactLinkHolder {
    padding-left: 2rem;
}

.contactInfoHolder {
    display: flex;
    flex-direction: row;
}

.contactLinkHolder a {
    display: inline-block;
    padding-bottom: 1rem;
}


@media screen and (max-width: 500px) {
    .contactWidget{
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 950px) {

    .widgetRow1 {
        margin: 2rem;
        padding: 0;
        width: auto;
    }

    .widgetRow2 {
        width: auto;
        margin: 2rem;
    }

    .todoListWidget {
        width: 100%;
    }
    .clockWidget{
        padding: 0;
    }

    #clockWidgetText{
        font-size: 4rem;
    }
}

@media screen and (min-width: 2000px) {

    .widgets{
        width: 70%;
    }

    /* .contactWidget {
        max-width: 60%;
        min-width: 50%;
    } */
}