.appBar {
    height: 7.5rem;
    width: 100%;
    margin: 0;
    padding: 0;

}

.appBar {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.appBarSpacer {
    flex: 1;
    width: 100%;
    height: 100%;

}

.appContainer {
    position: relative;
    z-index: 10;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    top: 500px;
    transition: top .8s ease-in-out;

}

.appBar:hover .appContainer {
    top: 0;
}


.appContainer li:hover {
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .appContainer {
        top: -15px;
        transition: top 0s;
        border-radius: 50px;    
        z-index: 0; 
        display: none;
    }

    .appBar:hover .appContainer{
        top: -15px
    }
}

@media screen and (max-width: 1025px) {
    .appContainer {
        top: -15px;
        transition: top 0s;
        z-index: 0;
    }

    .appBar:hover .appContainer {
        top: -15px
    }
}

@media screen and (max-height: 800px) {
    .appContainer {
        top: -15px;
        transition: top 0s;
        z-index: 0;
    }

    .appBar:hover .appContainer {
        top: -15px
    }
}