.kontaktApp {
    width: 75%;
    height: 100%;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.kontaktAppSideBar {
    width: 20%;
    padding: 2rem;
    background-color: #352727;
    border-radius: .5rem 0 0 .5rem;
}

.kontaktAppSideBar ul {
    padding: 0;
}

.kontaktAppSideBar li {
    background-color: #514342;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
}

.kontaktAppMainView {
    width: 75%;
    background-color: #2D1E1E;
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: scroll;
    overflow-x: hidden;
}

.kontaktAppMainView h2 {
    font-size: 2rem;
}

.kontaktAppMainView h3 {
    font-size: 1.5rem;
}


.kontaktAppHader {
    padding-top: 2.5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.kontaktAppHader img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0 2rem
}

.kontaktIcons {
    width: 80%;
    height: 80%;

}

.iconHolder {
    width: 30px;
    height: 30px;
    padding: .3rem;
    margin: 0 1rem 1rem 0;
    border-radius: 50px;
    background-color: #1768E3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconHolder:hover {
    cursor: pointer;
}

.iconRow {
    width: 100%;
    display: flex;
    padding-left: 15rem;
}

.kontaktAppAboutMe {
    padding: 2rem 4rem;
}

.kontaktAppAboutMe p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.2rem;
    letter-spacing: .05rem;
}

.kontaktAppAboutMe a {
    color: white;
    padding-top: 1rem;
}

.kontakSkillSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* .kontakSkillSection div ul {
    display: flex;
    flex-direction: column;
} */

/* .kontakSkillSection li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #514342;
    
} */

.programmingLanguage {
    display: flex;
    align-items: center;
    background-color: #514342;
    width: 20rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
}

.programmingLanguage img {
    width: 3.5rem;
    height: 3.5rem;
    padding-right: 2rem;
}

.YTLinkImage{
    position: relative;
    max-width: 60%;
    margin-bottom: 2rem;
    
}




.YTIcon{
    position: absolute;
    width: 15%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.threeDImage{
    width: 100%;
    height: auto;
    opacity: 0.8;
    border-radius: 1rem;
}



.YTLinkImage:hover  .threeDImage{
    opacity: .6;
}


@media screen and (max-width: 950px) {
    .kontaktApp {
        width: 100%;

    }

    .kontaktAppMainView {
        width: 100%;
        overflow-x: hidden;
    }

    .kontaktAppMainView button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .kontaktAppMainView button img {
        width: 2rem;
        height: 2rem;
    }

    .kontaktAppMainView button p {
        font-weight: bolder;
        font-size: 2rem;
        color: #1768E3;
        margin: 0;
        padding: 0;
    }
}