.kontaktApp{
    width: 70%;
    height: 100%;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.kontaktAppSideBar{
    width: 25%;
    background-color: aquamarine;
    border-radius: .5rem 0 0 .5rem;
}

.kontaktAppMainView{
    width: 75%;
    background-color: bisque;
    border-radius: 0 0.5rem 0.5rem 0;
}

.kontaktAppHader{
    padding-top: 2.5rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.kontaktAppHader img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 2rem
}

.kontaktIcons{
    width: 30px;
    height: 30px;
    color: #2F5089;
    
}

.iconHolder{
   width: 50px;
   height: 50px;
   display: flex;
   flex-direction: row;
}
