


.mainDesktop {
    flex: 1;
    cursor: default;
}

.mainDesktopWrapper{
    width: 100%;
    height: 100%;
    background-color: aqua;
    color: white;
}

h1{
    color: white;
}


.appIconList li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.appIconList li:hover{
    cursor: pointer;
}

.appIconMoc {
    width: 60px;
    height: 60px;

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.appStoreIcon {
    background: rgb(24, 97, 220);
    background: linear-gradient(0deg, rgba(24, 97, 220, 1) 0%, rgba(21, 181, 237, 1) 100%);
}

.browserIcon {
    background-color: #FFFEFC;
}

.xcodeIcon {
    background-color: #FFFEFC;
}

.addressIcon {
    background-color: #FFFEFC;
}

.appIconMoc img {
    width: 70%;
    height: 70%;
}

.appIconList {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 2rem;
}

li {
    margin-bottom: 1rem;
    display: block;
}


@media screen and (max-width: 950px) {

    .appIconList{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items:flex-start;
    }

    .appIconMoc{
        width: 8rem;
        height: 8rem;
    }
}