.appStore {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border-radius: 5px;
}


.appStore-sideBar {
    position: relative;
    background-color: #191c209a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    padding: 2rem;
}



.appStore-sideBar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}



.appStore-sideBar li {
    list-style: none;
    padding: .8rem;
}


.appStore-sideBar li:hover {
    cursor: pointer;
}

.appStore-mainView {
    flex: 1;
    background-color: #282C33;
    /*Change to this tone*/
    width: 100%;
    min-height: 100%;
    border-radius: 0 5px 5px 0;
    overflow: scroll;
    overflow-x: hidden;
}

.activeListElement {
    background-color: rgba(127, 127, 127, 0.259);
    border-radius: 5px;
}

@media screen and (max-width: 950px) {
    .appStore {
        display: flex;
    }

    .appStore-sideBar {
        width: 100%;
    }

    .appStore-mainViewMobile-Holder {
        display: flex;
        flex-direction: column;
        background-color: #282C33;
        width: 100%;
        overflow: hidden;
    }

    .appStore-sideViewMobile-Holder {
        display: flex;
        flex-direction: column;
        background-color: #191c20;
        width: 100%;
        overflow: hidden;
    }

    .appStore-mainView {
        border-radius: 0;
    }

    .appStore-backButton {
        width: 100%;
        padding: 2rem;
    }

    .appStore-backButton button {
        display: flex;
        align-items: center;
        width: 10rem;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-weight: bolder;
        font-size: 2rem;
        color: rgb(40, 135, 250)
    }

    .appStore-backButton button img {
        height: 15%;
        width: 15%;
    }
}