.appStore {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border-radius: 5px;
}


.appStore-sideBar {
    position: relative;
    background-color: #352827;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    border-radius: 5px 0 0 5px;
    padding: 2rem;
}



.appStore-sideBar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}



.appStore-sideBar li{
    list-style: none;
    padding: .8rem;
}


.appStore-sideBar li:hover{
    cursor: pointer;
}

.appStore-mainView {
    flex: 1;
    background-color: #2F211E;
    width: 100%;
    min-height: 100%;
    border-radius: 0 5px 5px 0;
    overflow: scroll;
    overflow-x: hidden;
}

.activeListElement {
    background-color: rgba(127, 127, 127, 0.259);
    border-radius: 5px;
}