.appDetailHeader {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 8rem 4rem 2rem 4rem;
}

.appDetailAppIcon {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(36, 36, 36);
}


.downloadBtn {
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.appDetailUsedTech {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.appDetailUsedTech h3 {
    font-size: 1.5rem;
}


.appDetailUsedTechList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
}

.appDetailUsedTechList hr {
    margin: 0;
    padding: 0;
}


.sliderContainer {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.appDetailDevider {
    margin: 0 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
}

.appDetailProjectDetail {
    padding: 2rem;
    width: 60%;
}

.appDetailProjectDetail h3 {
    font-size: 1.5rem;
}

.appDetailProjectDetail p {
    font-size: 1.4rem;
    line-height: 160%;
    letter-spacing: .15rem;
}

.sliderContainer {
    padding-bottom: 1rem;
}

@media screen and (max-width: 450px) {
    .sliderContainer {
        width: 80%;
        height: 30%;
        margin: 0 auto;
        margin-bottom: 8rem;
    }

    .appDetailProjectDetail {
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
        padding-bottom: 20rem;
    }

    .appDetailAppIcon {
        min-width: 70px;
        width: 70px;
        height: 70px;
    }
}