.xcode {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    border-radius: 5px;
    font-family: "Cutive-Mono";
    display: flex;
    flex-direction: row;
}


.xcodeSideView {
    width: 15%;
    background-color: #382a279c;
    backdrop-filter: blur(20px);
    border-radius: 10px 0 0 10px;
}

.xcodeSideViewRight {
    
    border-radius: 0 10px 10px 0;
}

.xcodeMainView {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.xcodeMainEditView{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.xcodeMainViewHeader{
    background-color: #382A27;
    height: 5rem;
}

.xcodeCodeView {
    width: 60%;
    background-color: blue;
}

.xcodePreviewView {
    width: 40%;
    background-color: red;
}

.xcodeFolderStructure{
    display: flex;
    flex-direction: column;
}

.xcodeSubFiels p {
    cursor: pointer;
    user-select: none;
}


.xcodeSubFiels ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 3rem;
}

.xcodeSubFiels li {
    cursor: pointer;
}

.xcodeSubFielsHider{
    display:none !important;
}