.desktop {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainDesktopWrapper {
    flex: 1;
}


.mainDesktop {
    display: flex;
}



p {
    color: white;
}


.desktopSpacer {
    flex: 1;
}


.programmHolder {
    color: white;
    cursor: default;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 3;
    width: 80%;
    height: 90%;
    margin-left: 20px;
    border-radius: 10px;
    pointer-events: none;
}


.widgetHolder {
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 35vw;
    height: 40vh;
    /* background-color: aqua; */
}

.programmHolderActive {
    pointer-events: all;
    border-radius: 10px;
}

.tagline{
    position: absolute;
    bottom: 20rem;
    left: 10rem;
    font-size: 15rem;
    color: #01628f;
    font-weight: 500;
    user-select: none;
}

@media screen and (max-width: 950px) {

    .widgetHolder {
        position: initial;
        min-width: 100%;
        height: 40%;
        top: 5rem;
        left: 2rem;
    }

    .desktop {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .programmHolder {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .tagline{
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .widgetHolder {
        width: 50vw;
    }

    .tagline{
        font-size: 10rem;
    }
}

@media screen and (max-width: 1480px) and (min-width: 1025px) {
    .widgetHolder {
        width: 50vw;
    }

    .tagline {
        font-size: 10rem;
    }
}