.desktop{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.mainDesktopWrapper{
   flex: 1;
  
}


.mainDesktop{
    display: flex;
}



p{
    color: white;
}


.desktopSpacer {
    flex: 1;
}

.appIconMoc {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
}

.appIconList{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 2rem;
}

li{
    margin-bottom: 1rem;
    display: block;
}

.programmHolder {
    color: white;
    
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 3;
    width: 80%;
    height: 80%;
    margin-left: 20px;
}

.programmHolderActive{
    background-color: #352827;
}