.desktop{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.mainDesktopWrapper{
   flex: 1;
  
}


.mainDesktop{
    display: flex;
}



p{
    color: white;
}


.desktopSpacer {
    flex: 1;
}

.appIconMoc {
    width: 60px;
    height: 60px;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.appStoreIcon{
    background: rgb(24, 97, 220);
    background: linear-gradient(0deg, rgba(24, 97, 220, 1) 0%, rgba(21, 181, 237, 1) 100%);
}
.browserIcon{
    background-color: #FFFEFC;
}

.xcodeIcon {
    background-color: #FFFEFC;
}

.addressIcon{
    background-color: #FFFEFC;
}

.appIconMoc img {
    width: 70%;
    height: 70%;
}

.appIconList{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 2rem;
}

li{
    margin-bottom: 1rem;
    display: block;
}

.programmHolder {
    color: white;
    cursor:default;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 3;
    width: 80%;
    height: 80%;
    margin-left: 20px;
    border-radius: 10px;
   pointer-events: none;
}


.widgetHolder{
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 35vw;
    height: 40vh;
    /* background-color: aqua; */
}

.programmHolderActive{
    pointer-events:all;
    border-radius: 10px;
}