/* TODO: Handles UI Styling */

.app{
  position: relative;
  top: 0;
  left: 0;
}

.mainCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

html * {

  font-family: "Spline Sanse" !important;
}