.browserHeader {
    position: relative;
    background-color: #1b1d22;
}

.tabRow {
    display: flex;
    flex-direction: row;
}

.browserTab {
    margin: .4rem 0 0 0;
    padding: 1rem 7rem;
    background-color: #282C33;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    user-select: none;
    color: white;
    text-decoration: none;
}

.tabRowLink {
    text-decoration: none;
    background-color: #282C33;
}

.browserTab div {
    text-decoration: none;
}

.browserTab h3 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.activeTab {
    background-color: #393f49;
}

.searchBar {
    display: flex;
    flex-direction: row;
}

.searchBar button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #2887FA;
}

.searchBar button img {
    height: 2rem;
    width: 2rem;
}

.searchBar button p {
    color: #2887FA;
    font-weight: bolder;
}

.backArrowBrowser {
    transform: scale(-1, 1)
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #343b49;
    z-index: 1;
}

.navigationButton {
    font-size: 1.5rem;
    padding: 0 .7rem;
    margin: 0;
}

.reloadArrowBrowser {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.searchField {
    margin: 0 1rem;
    padding: 0 1rem;
    background-color: #1b1d22;
    width: 80%;
    border-radius: 25px;
}


.moreTab {
    width: 100%;
    height: 100vh;
    background-color: #20202087;
    position: absolute;
    z-index: 5;
    top: 5rem;
    border-radius: 1rem;
}

.moreTabContainer {
    width: 100%;
    height: auto;
    background-color: #202020;
    position: absolute;
    top: 5rem;
    border-radius: 0 0 1rem 1rem;
}


.moreTab ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* .moreTab ul li {
    padding: 2rem;
    background-color: #3D3D3D;
    margin: 1rem 1rem;
    border-radius: 1rem;
} */

.moreTab .link {
    padding: 2rem;
    background-color: #3D3D3D;
    margin: 1rem 1rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.activeli {
    border: 1px solid white;
}

@media screen and (max-width: 1030px) and (min-width: 500px) {
    .tabRow {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}