
.shapeCSS{
    position: relative;
    width: 90%;
    min-height: 100%;
    height: 100%;
    overflow: scroll;

}

.shapeCSSFirstSection{
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    
}

.shapeCSSCarousel{
    width: 60%;
    padding: 0 5rem 0 5rem ;
    
}

.shapeCSSUsedTech{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shapeCSSUsedTech ul{
    display: flex;
    flex-direction: column;
    
}

.shapeCSSUsedTech a{
    padding: 1rem;
    margin-right: 1rem;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 25px;
    
    align-self: flex-end;
}

.shapeCSSAbout{
    font-size: 1.3rem;
    padding-right: 10rem;
}

.shapeCSSAbout ul {
    display: flex;
    flex-direction: column;
}

.shapeCSSAbout h4{
    text-decoration: underline;
    padding: 0;
    margin: 3rem 0 0 0;
}

.shapeCSSAbout:last-child {
    margin-bottom: 15rem;
}